<form class="login">
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <input type="password" placeholder="Confirm Password">
  <button class="login_btn">Login</button>
</form>