<ul>
  <% @users.each do |user| %>
    <li class="card">
      <div class="photo">
        <%= image_tag(user.photo, width: "150px") %>
      </div>
      <div class="user_card">
        <div class="user_name"><%= user.name %></div>
        <div class="user_posts">Number of Posts: <%= user.posts_counter %></div>
      </div>
      <button id="user_btn">
        <%= link_to "Access User", user_path(user) %>
      </button>
    </li>
  <% end %>
</ul>
