/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --tw-bg-opacity: 1;

  background-color: rgb(228 228 231/var(--tw-bg-opacity));
  line-height: inherit;
  margin: 0;
}

.main {
  max-width: 35rem;
  min-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.h2_title {
  --tw-text-opacity: 1;

  color: grey;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: right;
  margin-right: 1rem;
}

#new_user {
  display: flex;
  flex-direction: column;
  width: 32rem;
}

.login {
  width: 40%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 15px 0;
  padding: 10px;
  width: 100%;
}

.field {
  --tw-text-opacity: 1;

  color: grey;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: left;
}

#user_remember_me {
  max-width: 2rem;
}
