.card {
  display: flex;
  width: 60%;
  margin: 30px auto;
  position: relative;
}

.photo {
  width: 200px;
}

.user_dev_link a:link {
  width: 60%;
  text-decoration: none;
}

.user_card {
  border: 1px solid #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  right: 0;
}

.user_name {
  font-size: 50px;
  align-self: center;
  margin-left: 80px;
}

.user_posts {
  font-size: 20px;
  align-self: end;
  margin: 30px;
  text-decoration: none;
}

.bio {
  border: 1px solid #000;
  width: 60%;
  margin: 0 auto;
}

.bio_title,
.post_count,
.post_title {
  font-size: 25px;
  font-weight: 500;
  margin: 10px;
}

.bio_data,
.post_text {
  font-size: 20px;
  margin: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  margin: 20px auto;
  list-style: none;
  border: 1px solid #000;
}

.post_count {
  font-size: 15px;
  margin: 8px;
}

.post_media {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.post_comments {
  margin-right: 20px;
}

.post_button {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

button {
  padding: 10px;
  width: 150px;
  background-color: #fff;
}

#user_btn a:link {
  color: white;
  text-decoration: none;
  font-weight: 900;
  border-left: none;
}

.user_btn {
  /* border: none; */
  border-radius: 50px;
  border: 1px solid #000;
  position: absolute;
  right: 0;
}

.form {
  width: 60%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title,
.form-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 30px;
}

.title-form {
  width: 100%;
  margin: 0;
}

.text-form {
  resize: none;
  height: 250px;
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  margin-left: 45%;
  margin-top: 1rem;
  padding: 1rem;
}